In [1]:
import matplotlib
import seaborn as sns

matplotlib.use("TkAgg")
import matplotlib.pyplot as plt

import sys

sys.path.append(".\\scripts\\")
import load_and_save_data as Data
import data_procedures as DPro
import calculate as calc
import visualisations as vs

df = Data.load_data_frame(month="03")
df = (
    df.pipe(DPro.rename_columns)
    .pipe(DPro.join_zones)
    .pipe(DPro.join_payment_type)
    .pipe(DPro.drop_unnecessary_columns)
)


df = DPro.filtered_by_date(df)

general_dataframe = (
    df.pipe(DPro.add_week_day)
    .pipe(DPro.get_time_groups)
    .pipe(DPro.group_by_time_weekdays)
    .pipe(calc.calculate_passengers_fare_index)
)


vs.show_heatmap(general_dataframe, by=f"tip")
plt.show(block=True)

In [14]:
import logging

# Utworzenie obiektu loggera
logger = logging.getLogger()

# Ustawienie poziomu logowania na INFO
logger.setLevel(logging.INFO)

# Przykładowa tabela
table = [['Imię', 'Nazwisko', 'Wiek'], ['Anna', 'Kowalska', 30], ['Jan', 'Nowak', 25], ['Maria', 'Zając', 35]]

# Przetwarzanie tabeli i logowanie informacji o długości wierszy
for row in table:
    row_length = len(row)
    logger.info(f'Długość wiersza: {row_length}')

INFO:root:Długość wiersza: 3
INFO:root:Długość wiersza: 3
INFO:root:Długość wiersza: 3
INFO:root:Długość wiersza: 3

In [39]:
import load_and_save_data as data

df = data.load_data_frame(month='01')

In [49]:
df = df.head(5)

In [50]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [46]:
import numpy as np

In [47]:
df[['VendorID','payment_type']] = df[['VendorID']].astype(np.int8)
df[['passenger_count','RatecodeID','fare_amount',	'extra',	'mta_tax',	'tip_amount',	'tolls_amount',	'improvement_surcharge',	'total_amount',	'congestion_surcharge',	'airport_fee',]] = df[['VendorID']].astype(np.float16)
df[['PULocationID','DOLocationID']] = df[['VendorID']].astype(np.int16)

In [48]:
df.dtypes

VendorID                           int8
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [24]:
import pandas as pd
import pandera as pa
from pandera.typing import Index, DataFrame, Series
from datetime import datetime
from pandera import dtypes
import logging as log

import config
config.log

class InputSchema:
    class YellowTripData(pa.SchemaModel):
        VendorID: Series[int] = pa.Field(coerce=True, nullable=True)
        tpep_pickup_datetime: Series[pa.DateTime] = pa.Field(coerce=True)
        tpep_dropoff_datetime: Series[pa.DateTime] = pa.Field(coerce=True)
        passenger_count: Series[float] = pa.Field(coerce=True, nullable=True)
        trip_distance: Series[float] = pa.Field(coerce=True, nullable=True)
        RatecodeID: Series[float] = pa.Field(coerce=True, nullable=True)
        store_and_fwd_flag: Series[str] = pa.Field(coerce=True, nullable=True)
        PULocationID: Series[int] = pa.Field(coerce=True, nullable=True)
        DOLocationID: Series[int] = pa.Field(coerce=True, nullable=True)
        payment_type: Series[int] = pa.Field(coerce=True, nullable=True)
        fare_amount: Series[float] = pa.Field(coerce=True, nullable=True)
        extra: Series[float] = pa.Field(coerce=True, nullable=True)
        mta_tax: Series[float] = pa.Field(coerce=True, nullable=True)
        tip_amount: Series[float] = pa.Field(coerce=True, nullable=True)
        tolls_amount: Series[float] = pa.Field(coerce=True, nullable=True)
        improvement_surcharge: Series[float] = pa.Field(coerce=True, nullable=True)
        total_amount: Series[float] = pa.Field(coerce=True, nullable=True)
        congestion_surcharge: Series[float] = pa.Field(coerce=True, nullable=True)
        airport_fee: Series[float] = pa.Field(coerce=True, nullable=True)

class OutputSchema:
    class YellowTripData(InputSchema.YellowTripData):
        pass
    
       
@pa.check_types
def transform_YellowTripData(
    df: DataFrame[InputSchema.YellowTripData]) -> DataFrame[OutputSchema.YellowTripData]:
    log.info(f"Table YellowTripData validation complete. DataFrame shape: {df.shape}")
    return df

In [ ]:
import pandas as pd
import pandera as pa
from pandera.typing import Index, DataFrame, Series
from datetime import datetime
from pandera import dtypes


class InputSchema:
    class GlobalTempSchema(pa.SchemaModel):
        dt: Series[pa.DateTime] = pa.Field(coerce=True)
        LandAverageTemperature: Series[float] = pa.Field(coerce=True, nullable=True)
        LandAverageTemperatureUncertainty: Series[float] = pa.Field(
            coerce=True, nullable=True
        )
        LandMaxTemperature: Series[float] = pa.Field(coerce=True, nullable=True)
        LandMaxTemperatureUncertainty: Series[float] = pa.Field(
            coerce=True, nullable=True
        )
        LandMinTemperatureUncertainty: Series[float] = pa.Field(
            coerce=True, nullable=True
        )
        LandAndOceanAverageTemperature: Series[float] = pa.Field(
            coerce=True, nullable=True
        )
        LandAndOceanAverageTemperatureUncertainty: Series[float] = pa.Field(
            coerce=True, nullable=True
        )

    class GlobalLandTemperature(pa.SchemaModel):
        dt: Series[pa.DateTime] = pa.Field(coerce=True)
        AverageTemperature: Series[float] = pa.Field(coerce=True, nullable=True)
        AverageTemperatureUncertainty: Series[float] = pa.Field(
            coerce=True, nullable=True
        )
        City: Series[str] = pa.Field(coerce=True, nullable=True)
        Country: Series[str] = pa.Field(coerce=True, nullable=True)
        Latitude: Series[str] = pa.Field(coerce=True, nullable=True)
        Longitude: Series[str] = pa.Field(coerce=True, nullable=True)


class OutputSchema:
    class GlobalTempSchema(InputSchema.GlobalTempSchema):
        pass

    class GlobalLandTemperature(InputSchema.GlobalLandTemperature):
        pass


@pa.check_types
def transform_globaltempschema(
    df: DataFrame[InputSchema.GlobalTempSchema],
) -> DataFrame[OutputSchema.GlobalTempSchema]:
    return df


@pa.check_types
def transform_globallandtemp(
    df: DataFrame[InputSchema.GlobalLandTemperature],
) -> DataFrame[OutputSchema.GlobalLandTemperature]:
    return df

In [35]:
import pandas as pd

df = pd.DataFrame({
    "name": ["dar", "var", "jar", "mar", "kar"],
    "tel": [1, 2, 3, 4, 5],
    "level": ['yellow', 'red', 'yellow', 'red', 'yellow']
})

# Pavertimas kategoriniais duomenimis
df['name'] = df['name'].astype('category')
df['level'] = df['level'].astype('category')

# Patikrinti rezultatus
print(df.dtypes)

name     category
tel         int64
level    category
dtype: object